/*Your styles*/

 body {
    margin: 10px;
}

ul{
    padding: 0;
}
ul li{
    list-style: none;
}

#content {
    margin-right:auto;
    margin-left:auto;
    vertical-align:middle;
    width:100%;
}


#btn_test{
    width: 100%;
}

.hide{
    display: none;
}


/*
Those classes will be edited at runtime with values specified
by the settings of the CC application
*/
.hostFontColor{}
.hostFontFamily{}
.hostFontSize{}

/*font family, color and size*/
.hostFont{}
/*background color*/
.hostBgd{}
/*lighter background color*/
.hostBgdLight{}
/*darker background color*/
.hostBgdDark{}
/*background color and font*/
.hostElt{}


.hostButton{
    border:1px solid;
    border-radius:2px;
    height:20px;
    vertical-align:bottom;
    font-family:inherit;
    color:inherit;
    font-size:inherit;
}

form[name=colorDataCMYK] ,form[name=colorDataRGB]{
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
}

.patternForm-CMYKList .patternForm-RGBList{
    width: 150px;
}
