@import "../../../styles/globalValues";

.button-std{
    color: #ffffff;
    border: none;
    background: lighten($bgColor,10%);
    border-right: 1px solid #000;
    width: 70px;
    height: 20px;
    cursor: pointer;
    &:active{
        background: $bgColor;
    }
    &:focus{
        outline: none;
    }
}

.colorTypeBtn{
    height: 20px;
    width: 70px;
    border: none;
    padding: 3px;
    font-size: 12px;
    border-radius: 5px;
    box-shadow: 3px 3px 0 #000;
    cursor: pointer;
    margin-right: 20px;
    color: #000000;
    &:focus{
        outline: none;
    }
}

.btn-deepblue{
    background: darken($deepBlue,10%);
    &:active{
        background: darken($deepBlue,20%);
    }
}

$borderProps: "bottom","right","top";
$CMYKS:"cyan","magenta","yellow";
$RGBS:"red","green","blue";


$low:70;
$high:255;
.typeBtn-RGB{
    background: linear-gradient(90deg,rgb($high,$low,$low),rgb($low,$high,$low),rgb($low,$low,$high));
}
.typeBtn-CMYK{
    background: linear-gradient(90deg,rgb($low,$high,$high),rgb($high,$low,$high),rgb($high,$high,$low),rgb($low,$low,$low));
}

.jsxButton{
    border: none;
    width: 90px;
    height: 20px;
    $btnBlue: rgb(69, 69, 136);
    background: $btnBlue;
    box-shadow: 3px 3px 0px darken($btnBlue,30%);
    color: #ffffff;
    cursor: pointer;
    &:active{
        background: darken($btnBlue,15%);
    }
    &:focus{
        outline: none;
    }
}