@each $color in $colorList{
    .colorRadio-#{$color}{
        border: solid 1px setLineColor($color);
        background:darken(setLineColor($color),30%);
    }
}

.ColorTypeCheck{
    display: inline-block;
    width: 75px;
    height: 20px;
    position: relative;
    border-radius: 3px;
    box-sizing: border-box;
    text-align: center;
    font-size: 12px;
    margin-bottom: 3px;
    .ColorTypeCheck__input{
        display: none;
    }
    .ColorTypeCheck__cover{
        left: 0;
        top: 0;
        position: absolute;
        z-index: 2;
        background: #333;
        opacity: 0.8;
        width: 100%;
        height: 100%;
        transition: opacity 0.3s ease;
        cursor: pointer;
    }

    .ColorTypeCheck_name{

    }

    .ColorTypeCheck__input:checked + .ColorTypeCheck__cover{
        opacity: 0;
    }
}