@import "../../../styles/globalValues";

.createMainForm{
    padding: 5px;
}

.createMainForm__list{
    @include flex-std($wrap:wrap);
    & > li{
        background: lighten($bgColor,5%);
        border-radius: 5px;
        padding: 20px;
        margin-right: 10px;
        margin-bottom: 15px;
        box-shadow: 5px 5px 5px 3px rgba(0,0,0,0.4);
    }
}

.createOptions{
    padding: 10px;
    background: rgb(51, 55, 68);
    border-radius: 5px;
    box-shadow: 5px 5px 5px 3px rgba(0,0,0,0.2);
    display: inline-block;
    .createOptions__startpoint{
        li{
            display: inline-block;
        }
    }
}

.createMainForm__buttons{
    margin-top: 10px;
}