@import "./mixin";
@import "./globalValues";
@import "./functions";
@import "../js/components/adjust/adjustMain";
@import "../js/components/create/createMain";
@import "../js/components/saveColor/saveColorMain";
@import "../js/components/loading/loading";

@import "../js/components/sideMenu";
@import "../js/components/parts/radio";
@import "../js/components/parts/textBox";
@import "../js/components/parts/button";
@import "../js/components/parts/checkBox";

body{
    background: $bgColor;
    color: #ffffff;
    margin: 0;
    font-family: "Helvetica Neue",
    Arial,
    "Hiragino Kaku Gothic ProN",
    "Hiragino Sans",
    Meiryo,
    sans-serif;
    font-weight: 300
}

ul{
    list-style: none;
    padding: 0;
}

.head-large{
    font-weight: 200;
    margin: 8px 0px;
}

.head-middle{
    font-weight: 200;
    margin: 0px 3px;
}

.head-small{
    font-weight: 200;
    margin: 0px 3px;
}

.asideMenu{
    grid-area: asideMenu;
}

.header{
    grid-area: header;
}

.footer{
    padding: 5px;
    padding-top: 10px;
    grid-area: footer;
}

.AdjustContainer{
    display: grid;
    grid-template-rows: 30px 50px 1fr 80px;
    grid-template-columns: 100%;
    grid-template-areas: 
    "asideMenu"
    "header"
    "adjustColors"
    "footer"
    ;
}

.adjustColors{
    grid-area: adjustColors;
}

.containerCreate{
    display: grid;
    grid-template-rows: 30px 50px 1fr 80px;
    grid-template-columns: 100%;
    grid-template-areas: 
    "asideMenu"
    "header"
    "createMainForm"
    "footer"
    ;
}

.createMainForm{
    grid-area: createMainForm;
}

.containerStrage{
    display: grid;
    grid-template-rows: 30px 50px 1fr 80px;
    grid-template-columns: 100%;
    grid-template-areas: 
    "asideMenu"
    "header"
    "saveColorMain"
    "footer"
    ;
}

.saveColorMain{
    grid-area: saveColorMain;
}

.unbisible{
    display: none;
}