@import "../../styles/globalValues";

.asideMenu{
    width: 100vw;
    height: 30px;
    background: darken($deepBlue,40%);
}

.asideMenu__list{
    width: 100%;
    height: 100%;
    @include flex-std($wrap:no-wrap);
    margin: 0;
    li{
        width: 110px;
        height: 100%;
    }
}